<div class="hero-unit">
	<h1>Philly Salaries</h1>
	<p>You can use this application to browse salary data for Fiscal Year 2012.</p>
	<p>
		<a href="#browse" class="btn btn-large btn-primary">Browse</a>
		<a href="#visualize" class="btn btn-large btn-success">Visualize</a>
	</p>
	<!--<p>
		<a href="https://www.google.com/fusiontables/DataSource?docid=" target="_blank" class="btn btn-small"><i class="icon-download"></i> Export Data</a>
		<a href="http://github.com" target="_blank" class="btn btn-small"><i class="icon-align-left"></i> Source Code</a>
	</p>-->
</div>