<form class="form-search pull-right">
    <% var search = data.settings.search || null; %>
	<div class="input-append<% if(search) { %> input-prepend<% } %>">
		<% if(search) { %><a href="#<%= Salaries.router.buildFragment() %>" class="add-on"><i class="icon-remove"></i></a><% } %>
		<input name="search" placeholder="Search<% if(data.title) { %> <%= data.title %><% } %>" type="text" class="<% if( ! search) { %> search-query<% } %>"<% if(search) { %> value="<%= search %>"<% } %>>
		<button type="submit" class="btn"><i class="icon-search"></i></button>
	</div>
</form>