<ul class="thumbnails">
    <li class="span3">
        <a href="#visualize?chart=sizeVsDollarsBar" class="thumbnail">
            <img src="img/thumbs/sizeVsDollarsBar.png" alt="Size vs Dollars (Bar)">
            Size vs Dollars (Bar)
        </a>
    </li>
    <li class="span3">
        <a href="#visualize?chart=sizeVsDollarsLine" class="thumbnail">
            <img src="img/thumbs/sizeVsDollarsLine.png" alt="Size vs Dollars (Line)">
            Size vs Dollars (Line)
        </a>
    </li>
    <li class="span3">
        <a href="#visualize?chart=dollarsPie" class="thumbnail">
            <img src="img/thumbs/dollarsPie.png" alt="Dollars (Pie)">
            Dollars (Pie)
        </a>
    </li>
    <li class="span3">
        <a href="#visualize?chart=salaryGroups" class="thumbnail">
            <img src="img/thumbs/salaryGroups.png" alt="Salary Groups">
            Salary Groups
        </a>
    </li>
</ul>