/* Add a margin to the content container */
#main { margin-bottom: 15px; }

/* Sort links */
th a { width: 100%; height: 100%; display: inline-block; color: inherit; }

/* Charts */
.count-pie { width: 16; height: 16; padding: 0; margin: 0; display: inline; }
.analysis .progress { margin-bottom: 3px; }

/* Breadcrumbs */
.breadcrumb { text-transform: uppercase; }

/* All Employees Row */
.all td { border-bottom: 1px #333 solid; }

/* No results bar */
.loading .hide-loading { display: none; }

/* Analysis Row */
.analysis, .no-more-tables .analysis { display: none; }
.table-striped-skip tbody > tr:nth-of-type(4n+1) > td,
.table-striped-skip tbody > tr:nth-of-type(4n+1) > th {
  background-color: #f9f9f9;
}

/* Title & Search */
#title h3 { margin: 0; }
#search form { margin: 5px; }

/* Phila.gov style */
.navbar-fixed-top .navbar-inner {
    background-color: #254A78; /* fallback color, place your own */

	/* Gradients for modern browsers, replace as you see fit */
	background-image: -moz-linear-gradient(top, #4069AB, #1A3C6A);
	background-image: -ms-linear-gradient(top, #4069AB, #1A3C6A);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#4069AB), to(#1A3C6A));
	background-image: -webkit-linear-gradient(top, #4069AB, #1A3C6A);
	background-image: -o-linear-gradient(top, #4069AB, #1A3C6A);
	background-image: linear-gradient(top, #4069AB, #1A3C6A);
	background-repeat: repeat-x;

	/* IE8-9 gradient filter */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4069AB', endColorstr='#1A3C6A', GradientType=0);
	/*background: #254A78;
	background: -webkit-gradient(linear, left top, left bottom, from(#4069AB), to(#1A3C6A));
	background: -moz-linear-gradient(top, #4069AB, #1A3C6A);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4069AB', endColorstr='#1A3C6A');
	-moz-box-shadow: 0px 2px 4px #888;
	-webkit-box-shadow: 0px 2px 4px #888;*/
	box-shadow: 0px 2px 4px #888;
}
.navbar .brand { padding: 4px 15px 6px; }
.btn-navbar { background: none !important; }
.navbar-inverse .nav > li > a { color: #d8d8d8; }
.navbar-inner .nav li a:hover { background: none repeat scroll 0 0 #1F4272 !important; }
@media (max-width: 979px) {
	.navbar-fixed-top .navbar-inner { padding: 0 }
	.navbar-inverse .nav-collapse .nav > li > a { color: #d8d8d8; }
}
h1, th { color: #1A3C6A; }

/* Loading indicator from jQuery Mobile */
.loading .loader { display: block; }
.loader {
	display: none;
	z-index: 9999999;
	position: fixed;
	top: 50%;
	left: 50%;
	border:0;
	background: none;
	filter: Alpha(Opacity=18);
	opacity: .18;
	width: 46px;
	height: 46px;
	margin-left: -23px;
	margin-top: -23px;
}
.loader .icon {
	background-color: #000;
	background: url(../../img/ajax-loader.gif);
	background-size: 46px 46px;
	display: block;
	margin: 0;
	width: 44px;
	height: 44px;
	padding: 1px;
	-webkit-border-radius: 36px;
	-moz-border-radius: 36px;
	border-radius: 36px;
}

/* Responsive Tables */
@media only screen and (max-width: 800px) {
    
    
    
/***********************************************************/
	/* Force table to not be like tables anymore */
	.no-more-tables table, 
	.no-more-tables thead, 
	.no-more-tables tbody, 
	.no-more-tables th, 
	.no-more-tables td, 
	.no-more-tables tr { 
		display: block; 
	}
 
	/* Hide table headers (but not display: none;, for accessibility) */
	.no-more-tables thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
 
	.no-more-tables tr { border: 1px solid #ccc; }
 
	.no-more-tables td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 40%; 
		white-space: normal;
		text-align:left;
	}
    .no-more-tables .analysis td {
        padding-left: 5px;
    }
 
	.no-more-tables td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 35%; 
		padding-right: 10px; 
		white-space: nowrap;
		text-align: left;
		font-weight: bold;
	}
 
	/*	Label the data	*/
	.no-more-tables td:before { content: attr(data-title); }
}