<div class="navbar-inner navbar-tools">
    <div class="container">
        <ul class="nav pull-left no-collapse">
            <li<%= Salaries.router.route.substring(0, 6) === "browse" ? " class=\"active\"" : "" %>><a href="#browse"><i class="icon-list"></i> <span class="hidden-phone">Browse</span></a></li>
            <li<%= Salaries.router.route === "visualize" ? " class=\"active\"" : "" %>><a href="#visualize"><i class="icon-signal"></i> <span class="hidden-phone">Visualize</span></a></li>
            <li><a href="https://www.google.com/fusiontables/exporttable?query=select+*+from+1rgusPubWssFR9bb4dcJjPD2TAxQfsH5B8NJXv5E"><i class="icon-download-alt"></i> <span class="hidden-phone">Download</span></a></li>
        </ul>
    </div>
</div>